/* Variables and settings*/

/* setting colors in :root*/
:root{
    --bg-dark: #1e293b;     /*darkblue for sidebar*/
    --bg-light: #f3f4f6;    /*lightgrey for background*/
    --text-main: #333;      /*dark grey for text*/
    --text-light: #fff;     /*white for text on sidebar*/

    /*colors for categories*/
    --col-fitness: #3b82f6;   /*blue for ftiness*/
    --col-nutrition: #22c55e; /*green for nutrition*/
    --col-mood: #a855f7;      /*purple for moodtracker*/
    --col-report: #eab308;    /*yellow for reporting*/
    --col-delete: #ef4444;    /*red for deleting something*/
}

*{box-sizing: border-box;}

/*main frame for website*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-light);
    color: var(--text-main);
    height: 100vh;
    overflow: hidden;
}

#login-screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 350px;
}

#app-screen {
    display: flex; 
    width: 100%; 
    height: 100%;
}

/*configuring sidebar*/
aside{
    width: 250px;
    background-color: var(--bg-dark);
    color: var(--text-light);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

aside h2{
    text-align: center;
    padding-bottom: 20px;
    margin-top: 0;
}

/*links in the sidebar menu*/
.nav-item{
display: block;
padding: 15px;
color: #94a3b8;
text-decoration: none;
margin-bottom: 5px;
border-radius: 6px;
transition: 0.3s;
border-left: 4px solid transparent;
}

/*hover effect*/
.nav-item:hover{
    background-color: #334155;
    color: white;
}

/*main frame on the right*/
main{
    flex: 1;
    padding: 40px;
    overflow-y: auto;
}

/*class for hiding tabs*/
.hidden{display: none !important;}

/*box design with cards and grid*/
.card{
    background: white;
    padding: 20px;
    /*border-radius: 12px;*/
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    margin-bottom: 20px;
}

/*css-grid for 2 column design*/
.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/*css-grid for 3 column design*/
.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px
}

/*forms and buttons*/
input, textarea{
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: block;
}

button {
    cursor: pointer;          /*hand curser*/
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    transition: 0.2s;
    width: 100%;
}

button:hover {opacity: 0.9;}

/*classes for button color*/
.btn-blue { background-color: var(--col-fitness); }
.btn-green { background-color: var(--col-nutrition); }
.btn-purple { background-color: var(--col-mood); }
.btn-red { background-color: var(--col-delete); margin-top: 20px;}

/*delete button, but small*/
.btn-small {
    padding: 5px 10px;
    font-size: 0.8rem;
    width: auto;
}


/*tables*/
table {
    width: 100%;
    border-collapse: collapse; 
}
th {
    text-align: left;
    color: #888;
    font-size: 0.8rem;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
td {
    padding: 10px;
    border-bottom: 1px solid #eee;
}


/*emojis for moodtracker*/
.mood-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 3rem;
    margin-bottom: 20px;
}
.mood-btn {
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    opacity: 0.5;
    transition: transform 0.2s;
}
/*hover effect fot emoji*/
.mood-btn:hover, .mood-btn.selected {
    opacity: 1;
}